.HomePage {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 color: antiquewhite;
 font-family: 'Poppins', sans-serif;
 font-size: clamp(2rem, 5vw, 4rem);
 margin: auto;
 padding: 10px;
 text-decoration: none;
 max-width: 90%;
 text-align: center;
}

.HomePage:hover {
    color: black;
}