body {
    background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmedia.giphy.com%2Fmedia%2Fl1J9xRLvfhAGVeiys%2Fgiphy.gif&f=1&nofb=1&ipt=5a21f87d75818c86245af811f8393bf2487bc30958e97c05599827d6dc2ff011&ipo=images);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
 }

 
p {
    padding: 10px;
}

hr {  
    background-color: rgba(51, 51, 51, 0.3);
    border: none;
    margin: 20px 0;
}


footer {
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

